<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ความยินยอมและเงื่อนไข</title>
</head>
<body>
    <header>
        <h2>ยินยอมเเละเงื่อนไข</h2>
    <header>
        <p>ลงทะเบียนในฐานะ<p> <a href ="{% url "homeapp:register_teacher" %}" target = > teacher </a>      
            <a href ="{% url "homeapp:home" %}" target = > student </a>
            <header><h6>กลับสู่หน้าหลัก</h6></header> <br>
            <a href ="{% url "homeapp:home" %}" target = > back home </a></p> 
</body>
</html>