<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register_teacher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
</head>
<body style="background:#364966">
 <div style="background:#435D74" class="text-white">
<form action="/action_page.php">
  <center><h2>Register for teacher</h2></center><br><br>
  <div class="mb-3 row">
      <center><label for="fname" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label></center>
  </div>>
      <div class="col-sm-10">
        <input type="text" class="form-control-sm" id="fname">
      </div>
<br>  
      <center><label for="iname" class="col-sm-2 col-form-label">รหัสผ่าน</label></center>
     <div class="col-sm-10">
        <input type="number" class="form-control-sm" id="iname">
     </div>
<br>
      <center><label for="jname" class="col-sm-2 col-form-label">ชื่อ-นามสกุล</label></center>
     <div class="col-sm-10">
       <input type="text" class="form-control-sm" id="jname">
     </div>
<br>
      <center><label for="kname" class="col-sm-2 col-form-label">E-mail</label></center>
      <div class="col-sm-10">
        <input type="text" class="form-control-sm" id="kname">
      </div>
<br>
      <center><label for="lname" class="col-sm-2 col-form-label">โรงเรียน</label></center>
       <div class="col-sm-10">
         <input type="text" class="form-control-sm" id="lname">
       </div>
<br>
      <center><label for="mname" class="col-sm-2 col-form-label">ระดับชั้นที่สอน</label></center>
       <div class="col-sm-10">
          <input type="text" class="form-control-sm" id="mname">
        </div>
<br>
      <center><label for="nname" class="col-sm-2 col-form-label">ข้อมูลติดต่อเพิ่มเติม</label></center>
       <div class="col-sm-10">
         <input type="text" class="form-control-sm" id="nname">
         </div>
<br>         
<button type="button" class="btn btn-danger">Submit</button>
</form> 
<br><br>
<a href ="{% url "homeapp:home" %}"><button type="button" class="btn btn-danger">back to homepage</button></a> 
</div>
</body>
</html>