<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body><header><h5> เข้าสู่ระบบ </header>
    <p>USERNAME Nano1234 <br> PASSWORD Nano2527 <br> <a> href ="fn.signin.html" target = "_blank"> enter </a>
    </p> <br><header><h6>กลับสู่หน้าหลัก</h6></header> <br>
    <a href ="{% url "homeapp:home" %}"> back home </a></p> 
</body>
</html>
