<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h5>ชื่อ-นามสกุล.....</h5></header><br>
    <header><h5>ระดับชั้น.....</h5></header><br>
    <header><h5>เนื้อหา.....</h5></header><br>
    <header><h5>ประเมินผล</h5></header><br>
    <header><h5>คำติชม.....</h5></header><br>

    <a href ={% url "homeapp:home" %} target = > back home </a></p>  
    <a href ={% url "study:course_certificate" %} target = > print certificate </a></p> 
</body>
</html>