<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h6> คำแนะนำก่อนเรียน</h6></header>
    <header><h6> ดาวน์โหลดเอกสาร</h6></header>
    <a href ={% url "study:sheet" %} target = > dawload sheet </a></p> 
    <header><h6>กดเพื่อเริ่มเรียน</h6></header> <br>
    <a href ={% url "study:study" %} target = > start to study </a>  <br>
    <header><h6>กลับสู่หน้าหลัก</h6></header> <br>
    <a href ={% url "homeapp:home" %} target = > back home </a></p> 
</body>
</html>