<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h6>เรื่อง......</h6></header> <br><br><br>
    <header><h6>รหัสVDO.....</h6></header> <br>
    <header><h6>คอร์ส.....</h6></header> <br>
    <header><h6>บรรยาย.....</h6></header> <br>
    <header><h6>กลับสู่หน้าหลัก</h6></header> <br>
        <a href ={% url "homeapp:home" %} target = > back home </a></p>  
        header><h6>ถัดไป</h6></header> <br>
        <a href ={% url "study:problem_do" %} target = > next </a></p>  
</body>
</html>