<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h6>ทดสอบก่อนเรียนเรื่อง.....</h6></header>
    <header><h6>ชื่อ-นามสกุล.....</h6></header> <br>
    <header><h6>รหัสข้อ.....</h6></header> <p>แจ้งปัญหา</p> <a href {% url "homepage:complain/form" %} target = > complain </a> <br>
    <a href ={% url "homepage:home" %}> back home </a></p>  
    <a href ={% url "course/summary" %} > sent </a></p> 
</body>
</html>